

.content-stage--infos{
    display: flex;
    margin: 20px;
    max-width: 100%;

    .content-load--progress{
        align-items: center;
        vertical-align: middle;
    }

    .assigns{
        display: block;
    }
}

.plan-logo--card{
    margin: 10px;
}

.beneficts-list--modal{
    cursor: pointer;
}
.card-row--active{
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    max-width: 350px;
    min-width: 275px;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;

    .wallet-line{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: 20px;

    }
}
.cards-information{
    display: inline-block;
    background-image: url('../../img/theme/22.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
    border-radius: 10px;

    p b{
        color: #ffffff !important;
    }

    // .card-label-min{

    // }

    .card-line{
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 20px;

        // img {
        //     margin-left: 10px;
        // }
    }
}

.card {
  position: relative;

  &.card-plain {
    background: transparent;
    box-shadow: none;
    border: none;
  }
}

.profile-page {
    .card-profile {
        margin-top: -150px;

        .card-profile-image {
            position: relative;
            //min-height: 130px;

            img {
                max-width: 180px;
                border-radius: $border-radius;
                @extend .shadow;
                transform: translate(-50%,-30%);
                position: absolute;
                left: 50%;
                transition: $transition-base;

                &:hover {
                    transform: translate(-50%, -33%);
                }
            }
        }

        .card-profile-stats {
            padding: 1rem 0;

            > div {
                text-align: center;
                margin-right: 1rem;
                padding: .875rem;

                &:last-child {
                    margin-right: 0;
                }

                .heading {
                    font-size: 1.1rem;
                    font-weight: bold;
                    display: block;
                }
                .description {
                    font-size: .875rem;
                    color: $gray-500;
                }
            }
        }

        .card-profile-actions {
            padding: .875rem;
        }

        @include media-breakpoint-down(xs) {
            .card-profile-actions {
                margin-top: 110px;
            }
        }

        @include media-breakpoint-between(sm, md) {
            .card-profile-stats {
                margin-top: 30px;
            }
        }
    }
}

// Card with blockquotes

.card {
  .card-blockquote {
    padding: 2rem;
    position: relative;

    .svg-bg {
        display: block;
        width: 100%;
        height: 95px;
        position: absolute;
        top: -94px;
        left: 0;
    }
  }
}

// Animated cards

.card-lift--hover {
    &:hover {
        transform: translateY(-20px);
        @include transition($transition-base);
    }
}


@media only screen and (max-width: 992px) {
    .content-stage--infos{
        display: block;

        .card-row--active{
            margin-top: 20px;
            margin-left: 0;
    
        }
    }

  }




