// landingpage
.bankslip--act{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
}

.MuiFormGroup-root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset !important;
}

.MuiFormGroup-root {
    margin-left: 0px !important;
}

.accept-term{
    display: flex !important;
    a{
        margin-left: -20px;
        line-height: 2.6;
        
    }
    
}

.landingpage-benefits{
    p, span, h6{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
    p{
        font-size: 12px;
    }

    h1, h2, h3, h4, b {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }

    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .list-if--benefits{
        padding: 5px;

        .new-benefits{
            h6{
                font-weight: 600;
            }
        }

        h6{
            font-size: 13px;
            text-align: center;
        }
    }

}

// Nucleo icons
.MuiFormGroup-root{
    margin-left: 16px;
}
.float-subscription--buttom{
    border-radius: 100px;
    height: 64px;
    width: 64px;
    animation: float 3s ease-in-out infinite;
    background: #FFA200;
    border: #FFA200;
}

.float-subscription--buttom:hover{
    background: #E86C0C;
    transition: ease-in-out 1s;
}

.Submit-button--add{
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    background: #3376d2;
    border: #3376d2;
    margin-bottom: 40px;
    margin-top: 20px;
}

.Submit-button--add:hover{
    background: #00C853;
    transition: ease-in-out 1s;

}


.section-nucleo-icons .icons-container {
    position: relative;
    max-width: 100%;
    height: 360px;
    margin: 0 auto;
    z-index: 1;
}



.section-nucleo-icons {

    --icon-size: 5rem;
    --icon-sm-size: 3.75rem;
    --gutter: 7rem;

    .icons-container {
        i {
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: $white;
            z-index: 1;
            transform: translate(-50%, -50%);
            @include box-shadow($box-shadow);
            transition: all .2s cubic-bezier(.25,.65,.9,.75);

            &.icon {
                width: var(--icon-size);
                height: var(--icon-size);
                font-size: 1.7em;
            }

            &.icon-sm {
                width: var(--icon-sm-size);
                height: var(--icon-sm-size);
                font-size: 1.5em;
            }

            &:nth-child(1) {
                font-size: 42px;
                color: theme-color("warning");
                z-index: 2;
            }
        }

        &:not(.on-screen) {
            i {
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;

                &:not(:nth-child(1)) {
                    opacity: 0;
                }
            }
        }

        &.on-screen {

            i {
                opacity: 1;

                &:nth-child(1) {
                    left: 50%;
                    top: 50%;
                    font-size: 42px;
                    color: theme-color("warning");
                }

                &:nth-child(2) {
                    left: calc(50% + (var(--gutter) * 1.7));
                    top: 50%;
                }

                &:nth-child(3) {
                    left: calc(50% + var(--gutter));
                    top: calc(50% + var(--gutter));
                }

                &:nth-child(4) {
                    left: calc(50% + var(--gutter));
                    top: calc(50% - var(--gutter));
                }

                &:nth-child(5) {
                    left: calc(50% + (var(--gutter) * 3));
                    top: 50%;
                }

                &:nth-child(6) {
                    left: calc(50% + (var(--gutter) * 2.7));
                    top: calc(50% + (var(--gutter) * 1.5));
                }

                &:nth-child(7) {
                    left: calc(50% + (var(--gutter) * 2.7));
                    top: calc(50% - (var(--gutter) * 1.5));
                }

                &:nth-child(8) {
                    left: calc(50% - (var(--gutter) * 1.7));
                    top: 50%;
                }

                &:nth-child(9) {
                    left: calc(50% - var(--gutter));
                    top: calc(50% + var(--gutter));
                }

                &:nth-child(10) {
                    left: calc(50% - var(--gutter));
                    top: calc(50% - var(--gutter));
                }

                &:nth-child(11) {
                    left: calc(50% - (var(--gutter) * 4));
                    top: 50%;
                }

                &:nth-child(12) {
                    left: calc(50% - (var(--gutter) * 2.7));
                    top: calc(50% + (var(--gutter) * 1.5));
                }

                &:nth-child(13) {
                    left: calc(50% - (var(--gutter) * 2.7));
                    top: calc(50% - (var(--gutter) * 1.5));
                }
            }

        }
    }

    @include media-breakpoint-down(md) {
      overflow: hidden;
    }
}


// Blurable sections

.blur--hover {
    position: relative;

    .blur-item {
        transition: 1s cubic-bezier(.19,1,.22,1);
        will-change: transform;
        filter: blur(0);
        opacity: 1;
    }

    .blur-hidden {
        position: absolute;
        top: calc(50% + 7px);
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: $transition-base;
        z-index: 100;
    }
    &:hover {
        .blur-item {
            opacity: .8;
            filter: blur(10px);
            transform: scale(.95);
            z-index: 1;
        }
        .blur-hidden {
            opacity: 1;
            top: 50%;
        }
    }
}

.info .info-title{
  margin: 25px 0 15px;
  font-weight: 600;
}

// animation

@keyframes float{
	0%,100%{
		box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
		transform:translatey(0)
	}
	50%{
		box-shadow:0 25px 15px 0 rgba(0,0,0,.2);
		transform:translatey(-20px)
	}
}

// media quuery

@media (max-width: 600px) 
{
    .MuiStepper-root {
        display: none;
    }
    .MuiStepper-horizontal{
        display: none;
    }
}
